/*webfonts*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* vloeiend scrollen zie: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp  */
html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: thistle;
    font-family: 'Abril Fatface', cursive;
    font-size: 16px;
}

/*navigation*/
nav {
    background-color: darkslategray;
    position: sticky;
    top: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav li {
    flex: 1 0 330px;
}
nav li + li {
    border-left: solid 2px wheat;
}
nav a {
    color: wheat;
    text-decoration: none;
    display: block;
    padding: 10px;  
    text-align: center;  
}
nav a:hover {
    background-color: black;
    color: white;
}

.header {
    padding: 2em;
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    background-image: url(../afb/Kerstmenu.jpeg);
    background-position: center;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.richtpunt {
    position: relative;
    top: -55px;
    visibility: hidden;
}
section {
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: 20px; 
}
section header {
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#First header{
    background-image: url(../afb/bietentartaar.jpg);
}
#Second header{
    background-image: url(../afb/pastinaak.jpg);
} 
#Third header{
    background-image: url(../afb/stoofpeertjes.jpg);
} 
#Fourth header{
    background-image: url(../afb/tiramisu.jpg);
} 

h1, h2, h4 {
    font-family: 'Abril Fatface', cursive;
    color: white;
    text-align: center; 
    text-shadow: 0 0 13px darkslategrey; 
    letter-spacing: 7px;
}

h4 {
    font-variant: small-caps;
}
h6 {
    margin-bottom: -25px;
    font-size: 20px;
}

section ol {
    margin: 20px 60px;
}
section p, section h6 {
    padding: 0px 90px
}

/* de footer  */

footer {
    background-color: darkslategrey;
    color: floralwhite;
    text-align: center;
    padding: 20px;
}
footer a {
    color: floralwhite;
}

/* de validatie-icons  */
.validatie img {
    height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}