body {
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: sans-serif;
    font-size: 40;
}
.container{
    width: 1250px;
    margin: 0 auto;
    padding-top: 153px;
    min-height: 1100px;
    background-image: url('LetItBe_0.jpg');
    color: white;
}
.beatle{
    background-color: rgba(255, 0, 0, 0.623);
    width: 200px;
    cursor: pointer;
}
h3, p {
    margin: 0;
    padding: 0;
}
.name{
    border-left: solid 9px red;
    padding-left: 9px;
}
#john{
    margin-left: 118px;
    padding-top: 420px;
    padding-left: 270px;
    padding-bottom: 10px;
}
#john .name{
    padding-left: 110px;
}
.beatle .name{
    /* opacity: 0; */
}
.beatle:hover .name{
    opacity: 1;
}
#paul{
    margin-left: 605px;
    padding-top: 420px;
    padding-left: 270px;
    padding-bottom: 10px;
}
#ringo{
    margin-left: 118px;
    padding-top: 420px;
    padding-left: 270px;
    padding-bottom: 10px;
}
#george{
    margin-left: 118px;
    padding-top: 420px;
    padding-left: 270px;
    padding-bottom: 10px;
}